:root {
    --radius: 10px;
    --buttonWidth: 50px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    
}

.topContainer {
    display: flex;
    flex-direction: column;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    
    
}

.headingNav {
    border: solid red;
    display: flex;
    justify-content: space-between;
}